We recommend the following hardware configuration: CPU: 8+ vCPU cores recommended for synthetic record generation. You can download and install Anaconda here https://www.anaconda.com/products/individual.Install dependencies such as gretel-synthetics, Tensorflow, Pandas, and Gretel helpers (API key required) into your new virtual environment. Operating system: Ubuntu 18.04 for GPU support, or Mac OS X (no GPU support with Macs).See TensorFlow’s excellent setup guide for GPU acceleration. We’d love to hear about your use cases- feel free to reach out to us for a more in-depth discussion in the comments, twitter, or hi@gretel.ai. GPU: Nvidia Tesla P4 with CUDA 10.x support recommended for training. While a GPU is not required, it is generally at least 10x faster training on GPU than CPU. Click on your profile icon at the top right, then API Key.
